.ProfileRestaurantPage{
    background-color: var(--white);
    background-size: fill;
    display: flex;
    flex-direction: column;
}

.ProfileRestaurantPageContent{
    background: transparent;
    background: linear-gradient(180deg, rgba(116, 116, 116, 0.308) 0%, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0) 100%);
    min-height: 90vh;
    display: flex;
    align-items: start;
    padding: 4em 2em;
    gap: 3em;
    font-family: 'Montserrat', sans-serif;
}

.ProfileRestaurantOptionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: #fff;
    border-radius: 1em;
    padding: 1em;
    box-shadow: -10px 10px 0px 0px #0000001e;
}

.ProfileRestaurantOptions-header{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #00000023;
    display: flex;
    gap: 0.5em;
}

.ProfileRestaurantOptions-header img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    object-fit: cover;
}

.ProfileRestaurantOptions-header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
}

.ProfileRestaurantOptions-header p {
    font-size: 0.8em;
}


.ProfileRestaurantChildrenPage{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #fff;
    border-radius: 1em;
    flex: 3;
    box-shadow: -10px 10px 0px 0px #0000001e;
}


@media screen and (max-width: 645px){
    .ProfileRestaurantPageContent{
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .ProfileRestaurantChildrenPage{
        width: 90%;
        flex: 0;
    }
    .ProfileRestaurantOptionsContainer{
        width: 90%;
        flex: 0;
    }
    .ProfileRestaurantPageContent{
        padding: 5em 0em;
    }
}