.searchPage-iconsContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2em;
    padding-bottom: 1em;
    border-bottom: 2px solid #0000005e;
}

.searchPage-iconsContainer-img{
    width: 6em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.searchPage-iconsContainer-img:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}