.searchPage-iconsContainer{
    height: 10em;
}

.searchPage-iconsContainer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
}

.searchPage-iconsContainer-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.searchPage-iconsContainer-img:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.searchPage-iconsContainer-link{
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    aspect-ratio: 1/1;

    max-width: 6.5em;
    max-height: 6.5em;

    cursor: pointer;
    border-radius: 50%;
}