.searchPage-iconsContainer{
    height: 10em;
}

.searchPage-iconsContainer-img{
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;

}

.searchPage-iconsContainer-img:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.searchPage-iconsContainer-link{
    border: none;
    
    min-width: 6em;
    min-height: 6em;

    max-height: 6.5em;
    max-width: 6.5em;
    
    aspect-ratio: 1/1;

    border-radius: 50%;
    cursor: pointer;
}