.searchPage-iconsContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #0000005e;
}

.searchPage-iconsContainer-img{
    width: 6em;
    cursor: pointer;
}