
.teamSection{
    position: relative;
    width: 100%;
}

.team-background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.team-background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamSection-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 3em 0px;
    gap: 1em;
}

.teamSection-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.1em;
    position: relative;
    margin: 4em 0em;
}


.teamSection-item-content{
    padding: 1.2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 23em;
    gap: 1em;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}

.verticalText-2, .verticalText-1{
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    right: -10%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.verticalText-1{
    left: -10%;
    right: auto;
    transform: translateY(-50%) rotate(180deg);
}

.teamImg{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.teamBtn{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
    background-color: #D68F24;
    border-radius: 15px;
    padding: 0.2em 0em;
}

.team-title{
    font-size: 1.5em;
    color: #11928D;
}

.img-container{
    width: 100%;
    position: relative;
}

.teamIcon{
    position: absolute;
    width: 65%;
    left: 20%;
    top: -63%;
}