
.teamSection{
    position: relative;
    width: 100%;
}

.team-background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.team-background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamSection-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2.5em;
    gap: 1em;
}

.teamSection-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    position: relative;
    margin: 5em 0em;
}


.teamSection-item-content{
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 20em;
    gap: .5em;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.582);
}

.teamSection-content p{
    font-size: .9em;
    letter-spacing: 1px;
    text-align: justify;

}

.verticalText-2, .verticalText-1{
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1.4em;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    right: -11%;
    height: 100%;
    top: 50%;
    transform: translateY(-58%);
}

.verticalText-1{
    left: -11%;
    right: auto;
    transform: translateY(-58%) rotate(180deg);
}

.teamImg{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.teamBtn{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1b140c;
    background-color: #f5a124;
    border-radius: 20px;
    padding: 0.3em 0em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.582);
}

.teamBtn:hover{
    background-color: #f8b31e;
    transition: background-color .5s;
}

.team-title{
    font-size: 1.6em;
    color: #002221;
}

.img-container{
    width: 100%;
    position: relative;
}

.teamIcon{
    position: absolute;
    width: 90%;
    left: 5%;
    top: -95%;
    filter:drop-shadow(0 -5px 4px rgba(0, 0, 0, 0.452));
}

.visibility{
    top: -98%;
}
