.MainContent-bodySection {
    width: 100%;
}

.MainContent-bodySection-content{
    padding: 20px 0px;
    width: 95%;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 20px;
}
