.businessSection{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.businessSection-title{
    font-size: 3rem;
    color: #FFC625;
    text-align: center;
    margin-bottom: 50px;
}

.businessSection-title span{
    color: #01CBC3;
}
