.mainContent-header{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    background-color: #01CBC3;
}

.mainContent-header-searchSection{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: #fff;
    padding-left: 20px;
}

.header-child{
    flex-grow: 0.5;
    display: flex;
}

.header-child:nth-child(2){
    flex-grow: 2;
    
}

.mainContent-header-div{
    display: flex;
    justify-content: center;
}


.mainContent-header-searchSection-input{
    background: none;
    border: none;
    width: 100%;
    line-height: 40px;
    height: 40px;
    resize: none;
    outline: none;
    font-size: 17px;
}

.searchLogoIcon{
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 10px;
}

.mainContent-header-searchSection-img{
    margin-right: 20px;
    width: 25px;
}

.mainContent-header-searchSection-button{
    background: none;
    border: none;
    cursor: pointer;
}


.mainContent-header-div-a{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 150px;
    color: #fff;
    text-decoration: none;
}

.mainContent-header-userSection-a-div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.mainContent-header-userSection-a-div-p{
    margin: auto;
}

.mainContent-header-userSection-a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.shoppingCart, .userIcon{
    width: 40px;
    height: 40px;
    object-fit: contain;

}

.locoIcon, .shoppingCart, .userIcon{
    width: 100%;
    object-fit: contain;
    min-width: 40px;
}

.userIcon{
    background-color: #01CBC3;
    border-radius: 50%;
}


.logoIcon{
    width: 150px;
}

.mainContent-header-userSection{
    display: flex;
    justify-content: center;
    gap: 20px;
}


@media screen and (max-width: 750px) {
    .mainContent-header-div{
        display: none;
    }
    .mainContent-header-searchSection{
        margin-left: 10px;
    }
    .mainContent-header-searchSection-input{
        font-size: 13px;
    }
    .searchLogoIcon{
        display: none;
    }
    .mainContent-header-userSection-a-div-p{
        display: none;
    }
    .mainContent-header-searchSection-img{
        margin-right: 20px;
    }
}