.main-content-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0px;
}

.header-child {
    flex-grow: 1;
    text-align: center;
}

.header-child:nth-child(2){
    flex-grow: 3;
}

.main-content-header-section{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #00000016;
}

.main-content-header-section textarea{
    background: none;
    border: none;
    width: 100%;
    font-size: 20px;
    height: 25px;
    resize: none;
    outline: none;
    padding: 0px 5px;
}

.main-content-header-section a{
    padding: 1px 10px;
}

.main-content-header-section-img{
    width: 30px;
}

.main-content-header-link-icon{
    width: 40px;
}

.main-content-header-img{
    margin: 0px 5%;
    max-width: 40px;
    object-fit: contain;
}