.bestNearRestaurant{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bestNearRestaurant-title{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #000;

}

.swiper-wrapper{
    height: 150px;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
}

.restaurant-img{
    z-index: 1;
}

.award-frame{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 0;
}

.top-reward{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    z-index: 2;
    top: 0px;
}


.swiper-button-next, .swiper-button-prev{
    color: #000;
}

.swiper-slide{
    text-align: center;
}
