.Categories{
    width: 24em;
    height: auto;
    /* background-color: aqua; */
}

.Categories-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Categories-header h2{
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    color: black;
}

.Categories-header p{
    font-size: 0.85em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 500;
    margin-bottom: .5em;
}

.Categories-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Categories-content-item{
    position: relative;
    flex: 0 0 calc(33.33% - 10px); 
    margin: 5px; 
    display: flex;
    justify-content: center;
}

.Categories-content-item-title{
    position: absolute;
}

.Categories-content-item-img{
    margin-top: .9em;
    width: 6em; 
    border-radius: 50%;
    object-fit: cover;
}

#curve{
    fill: transparent;
}

.text{
    fill: white;
}
