.Categories{
    width: 45%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Categories-header{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Categories-header h2{
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    color: black;
}

.Categories-header p{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 500;
    margin-bottom: .5em;
}

.Categories-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 0.5em;
    @media screen and (max-width: 350px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 250px){
        grid-template-columns: repeat(1, 1fr);
    }
}

.Categories-content-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Categories-content-item-title{
    position: absolute;
    top: 0;
}

.Categories-content-item-img{
    margin-top: .9em;
    width: 6.5em; 
    border-radius: 50%;
    object-fit: cover;
}

#curve{
    fill: transparent;
}

.text{
    fill: white;
}

@media screen and (max-width: 685px){
    .Categories{
        width: 90%;
    }

    .Categories-header{
        gap: 1em;
        font-size: 2.5vw;
    }

    .Categories-content-item-img{
        margin-top: 10%;
        width: 70%
    }
}
