.Highlight{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;
    min-height: 100%;
    background-color: red;
}

.Highlight-imgContainer {
    max-width: 100%;
    max-height: 100%;
}

.Highlight-imgContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}