.RestaurantPage{
    background: var(--white);
    background: linear-gradient(180deg, rgb(175, 175, 175) 0%, var(--white) 8%, var(--white) 100%);
}

.RestaurantPage-content{
    min-height: 110vh;
}

.RestaurantPage-content{
    display: grid;
    grid-template-columns: 25% auto;
    gap: 1em;
}

@media screen and (max-width: 700px){
    .RestaurantPage-content{
        display: flex;
        flex-direction: column;
    }
    .aside-presentation-banner{
        width: 10vw;
        height: 15em;
    }
}