.buyPlanModal {
    width: 80vw;
    height: 80vh;
    min-height: 80vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(46, 45, 45, 1) 100%);
}

.buyPlanModal-container{
    color: #fff;
    display: grid;
    grid-template-columns: 70% auto;
    width: 100%;
    height: 100%;
}

.buyPlanModal-infoContainer-text{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-size: 1.1em;
    gap: 1em;
}

.buyPlanModal-infoContainer-text h2{
    opacity: 0;
    transform: translateY(1em);
    animation: fadeInH2 0.5s forwards;
}

@keyframes fadeInH2 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.buyPlanModal-infoContainer-text ul {
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.buyPlanModal-infoContainer-text ul li{
    opacity: 0;
    transform: translateX(-1.5em);
    animation: fadeInLi 0.5s forwards;
}

.buyPlanModal-infoContainer-text ul li:nth-child(1){
    animation-delay: 0.5s;
}

.buyPlanModal-infoContainer-text ul li:nth-child(2){
    animation-delay: 1s;
}

.buyPlanModal-infoContainer-text ul li:nth-child(3){
    animation-delay: 1.5s;
}

.buyPlanModal-infoContainer-text ul li:nth-child(4){
    animation-delay: 2s;
}

@keyframes fadeInLi {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.buyPlanModal-infoContainer-text p{
    opacity: 0;
    transform: translateY(1em);
    animation: fadeInAll 0.5s forwards;
    animation-delay: 2.5s
}

.buyPlanModal-select{
    width: 50%;
    color: #000;

    opacity: 0;
    transform: translateY(1em);
    animation: fadeInAll 0.5s forwards;
    animation-delay: 2.5s;
}

.buyPlanModal-buyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.buyPlanModal-buyContainer > div{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    transform: translateY(1em);
    animation: fadeInAll 0.5s forwards;
    animation-delay: 2.5s;
    position: relative;
    z-index: -1;
}

.buyPlanModal-buyContainer img {
    width: 100%;
    height: auto;
}

.buyPlanModal-buyButton{
    color: #000;
    font-weight: 700;
    border: none;
    width: 100%;
    background-color: #C0C0C0;
    filter: brightness(1.5);
    cursor: pointer;
    border-radius: 1em;
    padding: 0.5em;

    opacity: 0;
    transform: translateY(1em);
    animation: fadeInAll 0.5s forwards;
    animation-delay: 2.5s;

}

.buyPlanModal-buyButton:hover{
    filter: brightness(0.9);
    transition: 0.3s;
}

@keyframes fadeInAll {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 668px) {
    .buyPlanModal-container{
        grid-template-columns: 100%;
    }

    .buyPlanModal-buyContainer{
        gap: 0em;
    }
    

    .buyPlanModal-buyContainer > div{
        width: 25%;
        padding: 1em 0em;
    }

    .buyPlanModal-select{
        width: 100%;
        color: #000;
    }

}