.buyPlanModal {
    width: 60vw;
    height: 80vh;
    min-height: 80vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(135deg, rgb(4, 36, 34) 0%, rgb(0, 7, 7) 100%);
}

.buyPlanModal-container{
    color: #ffffff;
    display: grid;
    grid-template-columns: 70% auto;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.buyPlanModal-infoContainer-text{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-size: 1.1em;
    gap: 0em;
}

.buyPlanModal-infoContainer-text > h2{
    font-size: 2em;
    margin: .5em;
    color: #aad6d6;
}

.buyPlanModal-infoContainer-text h2{
    opacity: 0;
    transform: translateY(1em);
    animation: fadeInH2 0.5s forwards;
}

.buyPlanModal-infoContainer-text p{
    margin: 1em;
    font-weight: 700;
    color: #fffab5;
    font-size: 1.5em;
}

@keyframes fadeInH2 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.buyPlanModal-infoContainer-text ul {
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.buyPlanModal-infoContainer-text ul li{
    opacity: 0;
    transform: translateX(-1.5em);
    animation: fadeInLi 0.5s forwards;
}

.buyPlanModal-infoContainer-text ul li:nth-child(1){
    animation-delay: 0.5s;
}

.buyPlanModal-infoContainer-text ul li:nth-child(2){
    animation-delay: 1s;
}

.buyPlanModal-infoContainer-text ul li:nth-child(3){
    animation-delay: 1.5s;
}

.buyPlanModal-infoContainer-text ul li:nth-child(4){
    animation-delay: 2s;
}

@keyframes fadeInLi {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.buyPlanModal-infoContainer-text p{
    opacity: 0;
    transform: translateY(1em);
    animation: fadeInAll 0.5s forwards;
    animation-delay: 2.5s
}

.buyPlanModal-select{
    width: 50%;
    color: #000;
    margin: 1em;

    opacity: 0;
    transform: translateY(1em);
    animation: fadeInAll 0.5s forwards;
    animation-delay: 2.5s;
}

.buyPlanModal-buyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buyPlanModal-buyContainer > div{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    transform: translateY(1em);
    animation: fadeInAll 0.5s forwards;
    animation-delay: 2.5s;
    position: relative;
    z-index: -1;
}

.buyPlanModal-buyContainer img {
    width: 100%;
    height: auto;

    animation: jump 0.8s alternate infinite ease-in;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1em);
    }
}

.buyPlanModal-buyButton{
    color: #1f1303;
    font-weight: 700;
    border: none;
    width: 100%;
    background-color: #ffd35b;
    cursor: pointer;
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em;

    opacity: 0;
    transform: translateY(1em);
    animation: fadeInAll 0.5s forwards;
    animation-delay: 2.5s;

}

.buyPlanModal-buyButton:hover{
    background-color: #ffdf2b;
    transition: 0.3s;
}

@keyframes fadeInAll {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 668px) {
    .buyPlanModal-container{
        grid-template-columns: 100%;
    }

    .buyPlanModal-buyContainer{
        gap: 0em;
    }
    

    .buyPlanModal-buyContainer > div{
        width: 25%;
        padding: 1em 0em;
    }

    .buyPlanModal-select{
        width: 100%;
        color: #000;
    }

}