.myPlan{
    min-height: 65vh;
    background: url('https://firebasestorage.googleapis.com/v0/b/rippio.appspot.com/o/HomePage%2FPlanSection%2FPlanBackground.png?alt=media&token=801bb8e3-2bb0-463f-84a0-40473aeb4c52');
    background-size: cover;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 2em ;
}

.myPlan-content{
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
    width: 100%;
    background-color: rgba(2, 26, 24, 0.548);
    border-radius: 1em;
    padding: 0 2em;
}

.myPlan-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 1em;
    gap: 1.5em;
}

.myPlan-info-title{
    margin: 0;
    font-size: 2em;
    color: rgb(253, 249, 212);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}

.myPlan-info-feature{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.myPlan-info-feature-list{
    padding-left: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.myPlan-info-footer{
    width: 100%;
}

.myPlan-info-button{
    padding: 0.2em 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 2px solid var(--lightcyan);

    cursor: pointer;
}

.myPlan-info-button:hover{
    color: #f00;
    border-bottom: 2px solid #f00;
    transition: 0.5s;
}

.myPlan-imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.myPlan-img{
    width: 12em;
    object-fit: contain;
    animation: jump 1s alternate infinite ease-in;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.445) );
}

@keyframes jump {
    0% {
        transform: translateX(0);
        transform: rotate(-2deg);
    }
    100% {
        transform: translateX(-10em);
        transform: rotate(2deg);
    }
}

@media screen and (max-width: 600px) {
    .myPlan-content{
        grid-template-columns: 100%;
    }
}