.ProfileOrders{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    gap: 1em;
}

.ProfileOrders-header{
    display: flex;
    flex-direction: column;
}

.ProfileOrders-header h1{
    font-size: 1.7em;
    color: #1b4948;
    margin-top: .5em;
}

.ProfileOrders-ordersContainer{
    border-top: 2px solid #0c818141;
    padding: .7em 1em;
    padding-right: 5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    max-height: 80vh;
    overflow-y: auto;
    @media screen and (max-width: 400px){
        width: 100%;
        padding-right: 1em;
    }
}

.ProfileOrders-ordersContainer::-webkit-scrollbar{
    width: 1em;
    background-color: #0c818141;
}

.ProfileOrders-ordersContainer::-webkit-scrollbar-thumb{
    width: 1em;
    background-color: #ffffff85;
}

.ProfileOrders-orderItem{
    display: flex;
    flex-direction: column;
}

.ProfileOrders-orderItem-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: start;
}

.ProfileOrders-orderItem-header p{
    color: #10746fa1;
    font-size: 0.7em;
    font-weight: 600;

}


.ProfileOrders-orderItem-header h2{
    color: #227976;
    font-size: 1em;
}

.ProfileOrders-orderItem-body{
    border-left: 3px solid #41949438;
    padding-left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: start;
    gap: .2em;
    position: relative;
}

.ProfileOrders-orderItem-body-p{
    color: #21706c;
    font-weight: 600;
    font-size: .9em;
}

.ProfileOrders-orderItem-body-AbsoluteInfo{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 0;
    bottom: 0px;
    font-size: 0.7em;
    background-color: #1b4948cb;
    border-radius: 1em;
    padding: 0.5em;
    transition: 0.5s;
    z-index: 2;
}

.ProfileOrders-orderItem-body-AbsoluteInfo ul{
    padding-left: 1.5em;

}

.ProfileOrders-orderItem-body-AbsoluteInfo ul li{
    color: #fff;
    font-weight: 700;
    font-size: 1em;
}

/* 
.ProfileOrders-orderItem-body-li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: start;
    gap: 2em;
    justify-content: left;
    color: #000000d0;
    font-weight: 600;
}

.ProfileOrders-orderItem-body-li-p{
    color: #224344be;
    font-weight: 500;
    font-size: .8em;
}


.ProfileOrders-orderItem-body-observations{
    color: #13312da1;
    font-size: 0.8em;
    font-weight: 600;
}

.ProfileOrders-orderItem-body-observations span{
    color: #3a7471c7;
    font-weight: 500;
}

.ProfileOrders-orderItem-body-p span{
    color: #21837efa;
    font-weight: 600;
} */

.ProfileOrders-orderItem-body-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.ProfileOrders-orderItem-body-footer button{
    background-color: #10746fa1;
    color: white;
    padding: .2em 0em;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.ProfileOrders-orderItem-body-footer button:hover{
    background-color: #10746ffe;
    transition: 0.3s;
}

