.ProfileRestaurantSettings{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 1em;
    gap: 1em;
    font-family: 'Montserrat', sans-serif;
}

.ProfileRestaurantSettings-h1{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.ProfileRestaurantSettings-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
}

.ProfileRestaurantSettings-Input{
    background-color: #67a2a541;
    border: none;
}

.fieldsetInformation, .fieldsetAddress {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    padding: 1em 1.5em;
    padding-right: 2em;
    border: 1.8px solid #38666131;
    width: 100%;
}

.fieldsetInformation > legend, .fieldsetAddress > legend {
    padding: 0em 0.8em;
}


.ProfileRestaurantSettings-form input {
    font-size: 1em;
    outline: none;
    padding: 0.8em;
    color: #184647;
    font-weight: 600;
    width: 100%;
    border-radius: 0.3em;
}

.ProfileRestaurantSettings-GridForm-nameRestaurant-Div{
    grid-column: 1 / -1;
    width: 100%;
}

.fieldsetAddress > div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
}

.fieldsetAddress label {
    text-align: center;
}

.fieldsetAddress > div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
}

.select {
    width: 100%;
}

.fieldsetAddress-address-div{
    grid-column: 1 / -1;
}

.fieldsetAddress-address-div > div{
    display: flex;
    align-items: center;
    gap: 1em;
}

.fieldsetAddress-address-div > div >input{
    width: 20%;
}


.ProfileRestaurantSettings-Button{
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(37, 153, 153);
    width: 50%;
    font-weight: 600;
    transition: background-color 0.5s ease;
    cursor: pointer;
    color: #fff;

}

.ProfileRestaurantSettings-Button:hover{
    background-color: rgb(74, 180, 180);
    transition: background-color 0.5s ease;
}

@media screen and (max-width: 760px) {
    .fieldsetInformation, .fieldsetAddress {
        display: grid;
        grid-template-columns: auto;
        gap: 1em;
        padding-right: 2em;
    }

    .fieldsetAddress > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 0.3em;
    }

    .ProfileRestaurantSettings-Button{
        width: 80%;
    }

}