.register-login-page{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

.register-login-page-switchUserToRestaurant{
    font-size: 0.6em;
    width: 30%;
    background: linear-gradient(-50deg, #ffc343, #ffc813, #ffc13b);
    border-bottom-left-radius: 50em;
    border-bottom-right-radius: 50em;
    display: flex;
    justify-content: center;
    border: 2px solid #a77200;
    padding: 0.5em;
    flex-wrap: wrap;
    margin-bottom: 7em;
}

.register-login-page-switchUserToRestaurant div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-login-page-switchUserToRestaurant h1{
    margin: 0;
    color: #271800;
    font-size: 1.9em;
    font-weight: 500;
}

.register-login-page-switchUserToRestaurant button{
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 700;
    color: #501b06;
    transition: 0.5s;
}

.register-login-page-switchUserToRestaurant button:hover{
    font-size: 1.23em;
    color: #472302;
    text-decoration: underline;
    transition: 0.5s;
}


.register-login-page-background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/rippio.appspot.com/o/LoginPage%2Floginbackground.png?alt=media&token=0b0acb9f-2bd0-4f79-a7e4-f2d26842309d");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2em;
    height: 100%;
    min-height: 95vh;
}

.register-login-page-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 70%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.733), 0 6px 20px 0px rgba(0, 0, 0, 0.87);
    overflow: hidden;
    min-height: 80vh;
}

.register-login-page-content-to-Restaurant{
    background: rgb(14, 61, 66);
}

.register-login-page-content::before{
    content: "";
    position: absolute;
    top: 0;
    left:-50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-50deg, #214745, #49ccc1, #046656);
    transform: translateX(100%);
    transition: 1s ease-in-out;
    z-index: 1;
    /*
    animation: bg-animation 5s infinite alternate; */
}

.register-login-page-content-to-Restaurant::before{
    content: "";
    position: absolute;
    top: 0;
    left:-50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-50deg, #bdd0d4, #a4c8ca, #7dd5d8);
    transform: translateX(100%);
    transition: 1s ease-in-out;
    z-index: 1;
}

.loginPage-form, .registerPage-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 23em;
    padding: 0 .7em;
}

/* Configuraciones en el modo de restaurante */

.loginPage-form.non-user-mode h2, .registerPage-form.non-user-mode h2{
   color: #98f8ff;
   text-shadow: 0 0 10px #001310;
}

.loginPage-form.non-user-mode input, .registerPage-form.non-user-mode input{
    color: #7de5e9;
 }

 .loginPage-form.non-user-mode i, .registerPage-form.non-user-mode i{
    color: #7de5e9;
 }

 .loginPage-form.non-user-mode p, .registerPage-form.non-user-mode p{
    text-align: center;
    color: #ffffff;
 }

.loginPage-form.non-user-mode input::placeholder, .registerPage-form.non-user-mode input::placeholder{
    color: #42ccd1;
 }

 .loginPage-form-button.non-user-mode, .registerPage-form-button.non-user-mode{
    background: #379c9c;
    color: #58ffff;
 }



.loginPage-form{
    opacity: 1;
    transition: .5s ease-in-out;
    transition-delay: .3s;
}

/* Para que no se vea al cargar la página */
.registerPage-form{
    opacity: 0;
    transition: .5s ease-in-out;
    transition-delay: .3s;
}

.loginPage-form h2{
    font-size: 2em;
    color: rgb(6, 161, 161);
    text-shadow: 0 0 7px #b3fffe;
    margin-bottom: 1em;
}

.registerPage-form h2{
    font-size: 2em;
    color: rgb(6, 161, 161);
    text-shadow: 0 0 7px #b3fffe;
    margin: .2em 0;

}

.loginPage-form-input, .registerPage-form-input{
    width: 100%;
    height: 3.5em;
    background: transparent;
    margin: 2em 0;
    border-bottom: 2px solid #01CBC3;
    display: flex;
    align-items: center;
}

.registerPage-form-input{
    height: 2em;
    margin: 1em 0;
}

/* íconos en el login */
.loginPage-form-input i{
    text-align: center;
    color: #01CBC3;
    font-size: 1em;
    padding-right: .9em;

}

.loginPage-form-input input::placeholder, .registerPage-form-input input::placeholder{
    color: #398583bd;
    font-size: .8em;
    font-weight: 600;
}

.loginPage-form-input input, .registerPage-form-input input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    color: #185351;
    z-index: 2;
}

.loginPage-form-button, .registerPage-form-button{
    width: auto;
    padding: 0.5em;
    min-width: 9em;
    height: 3em;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background: #01CBC3;
    margin: 2em 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    z-index: 2;
    transition: .5s ease-in-out;
}

.registerPage-form-button{
    height: 2.7em;
    margin: 1em 0;
}

.loginPage-form-button:hover, .registerPage-form-button:hover{
    background: #0a837f;
    box-shadow: 0 0 7px rgba(14, 199, 199, 0.589);
    transition: .5s ease-in-out;
    transform: scale(1.03); /* Aumenta el tamaño del botón en un 10% */
    
}

a {
    text-decoration: none;
    color: #01CBC3;
    font-size: 1em;
    font-weight: 700;
}

.info p {
    color: #041817;
    font-size: 1em;
    font-weight: 600;
    margin-top: 1em;
}

/* Información acerca del login y registro */
.panels-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Agrupa el izquierdo y el derecho */
.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    padding: 0 1.5em;
    text-align: center;
    z-index: 1;

}

.left-panel-content, .right-panel-content{
    color:rgb(255, 255, 255);
    transition: 1.1s ease-in-out;
    transition-delay: .2s;
}

.right-panel-image, .left-panel-image{
    display: flex;
    width: 9em;
    margin-top: 1em;
    -webkit-transition: -webkit-transform 10s;
}

.right-panel-image{
    filter:drop-shadow(0 0 5px #000000bd);
}

.right-panel-image:hover, .left-panel-image:hover{
    -webkit-transform: rotate(360deg) translate(0); 
}

.panel h3{
    font-size: 1.7em;
    font-weight: 700;
    text-shadow: 0 0 10px #00504e;
    margin: .5em 0;
    color: hsl(0, 0%, 100%);
}

.panel p{
    font-size: 1em;
    padding: .5em 0;
}

/* Cambios en el modo de restaurante */

.panels-content.non-user-mode img{
    display: none;
}

.panels-content.non-user-mode h3{
    font-size: 2em;
    color: rgb(5, 40, 41);
    text-shadow: 0 0 10px #acfffe;
}

.panels-content.non-user-mode p{
    font-size: 1em;
    color: #041817;
    font-weight: 500;
}

.loginPage-button, .registerPage-button{
    width: 9em;
    height: 2.5em;
    border: none;
    border-radius: 50em;
    color: rgb(2, 32, 36);
    background: #ffffff;
    margin: 1em 0;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.479);
    transition: .7s;
}

.loginPage-button:hover, .registerPage-button:hover{
    background: #d5ffff;
    box-shadow: 0 0 7px rgb(75, 249, 255);
    color: #085f5c;
    transition: .7s;
}

/* Solo se ve en el responsive */
.info{
    display: none;
}

/* Animación de los paneles */
.register-login-page.registerPage-mode .register-login-page-content::before {
    transform: translateX(0%);
}

.register-login-page.loginPage-mode .register-login-page-content::before {
    transform: translateX(100%);
}
/* Para poder usar los inputs del login */
.register-login-page.loginPage-mode .left-panel {
    pointer-events: none;
}

.left-panel .image, .left-panel .left-panel-content{
    transform: translateX(-200%);

}

.right-panel .image, .left-panel .right-panel-content{
    transform: translateX(0);

}

.register-login-page.registerPage-mode .right-panel .image, .register-login-page.registerPage-mode .right-panel .right-panel-content{
    transform: translateX(200%);
}

.register-login-page.registerPage-mode .left-panel .image, .register-login-page.registerPage-mode .left-panel .left-panel-content{
    transform: translateX(0);
}

.register-login-page.registerPage-mode .loginPage-form{
    opacity: 0;
}

.register-login-page.registerPage-mode .registerPage-form{
    opacity: 1;
}

/* Para poder usar los inputs del registro */
.register-login-page.registerPage-mode .right-panel{
    pointer-events: none;
}

.panels-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panels-content.user-mode{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Agrupa el izquierdo y el derecho */
.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    padding: 0 1.5em;
    text-align: center;
    z-index: 1;

}

.left-panel-content, .right-panel-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(255, 255, 255);
    transition: 1.1s ease-in-out;
    transition-delay: .2s;
}

.right-panel-image, .left-panel-image{
    width: 9em;
    margin-top: 1em;
    -webkit-transition: -webkit-transform 10s;
}

.right-panel-image{
    filter:drop-shadow(0 0 5px #000000bd);
}

.right-panel-image:hover, .left-panel-image:hover{
    -webkit-transform: rotate(360deg) translate(0); 
}

.panel h3{
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 0 0 10px #00504e;
    margin: .5em 0;
    color: hsl(183, 100%, 95%);
}

.panel p{
    font-size: .9em;
    padding: .5em 0;
}

.loginPage-form-change{
    font-size: .9em;
    text-decoration: underline;
    color: #49a79f;
    cursor: pointer;
    z-index: 2;
}



/* Responsive */

@media (max-width: 950px){

    .register-login-page-content{
        width: 90%;
        height: 80%;
    }

    .loginPage-form{
        gap: 3em;
        font-size: 1.1em;
    }

    .registerPage-form{
        gap: .6em;
        font-size: 1.1em;
    }

    .loginPage-form h2, .registerPage-form h2{
        font-size: 2em;
        text-align: center;
    }

    .loginPage-form-button, .registerPage-form-button{
        width: 12em;
        height: 3.5em;
        font-size: 1.2em;
    }
    .panel{
        font-size: 1.5em;
    }
    .right-panel-image, .left-panel-image{
        width: 7em;
        margin: 0 3em;
        margin-top: 1em;
    }

    .register-login-page-switchUserToRestaurant{
        width: 50%;
    }
}



@media (max-width: 779px){

    .loginPage-form{
        gap: 0;
        font-size: 1.2em;
    }

    .registerPage-form{
        gap: .3em;
        font-size: 1.2em;
    }

    form.loginPage-form, form.registerPage-form{
        width: 20em;
    }

    .loginPage-form-button, .registerPage-form-button{
        width: 10em;
        height: 3em;
    }
    .register-login-page-switchUserToRestaurant{
        width: 60%;
    }
}
 
@media (max-width: 650px){

    .register-login-page{
        width: 100%;
        height: 100%;
        
    }

    .register-login-page-content{
        height: 80%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-login-page-content::before{
        display: none;
    }

    .loginPage-form{
        font-size: 1.4em;
    }

    .loginPage-form h2, .registerPage-form h2{
        font-size: 2em;
    }

    form.registerPage-form{
        width: 30em;
    }

    .loginPage-form-button, .registerPage-form-button{
        width: 10em;
        height: 3em;
        font-size: 1.2em;
    }

    form.registerPage-form{
        display: none;
    }
    

    .register-login-page.registerPage-mode form.registerPage-form{
        display: flex;
        opacity: 1;
    }

    .register-login-page.registerPage-mode form.loginPage-form{
        display: none;
    }

    .panels-content.user-mode, .panels-content.non-user-mode{
        display: none;
    }

    .info{
        display: block;
    }

    .register-login-page-switchUserToRestaurant{
        width: 80%;
    }
}

@media (max-width: 440px){

    .register-login-page-content{
        height: 80%;
        width: 90%;
    }

    .register-login-page-content::before{
        display: none;
    }

    .loginPage-form-input{
        width: 80%;
    }

    form.registerPage-form{
        width: 20em;
    }

    .register-login-page.registerPage-mode form.registerPage-form{
        display: flex;
        opacity: 1;
    }

    .register-login-page.registerPage-mode form.loginPage-form{
        display: none;
    }

    .info{
        display: block;
    }
}