.ModalConflictProduct-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-bottom: 2px solid #00000076;
    padding: 0.5em;
}

.ModalConflictProduct-header img{
    width: 3em;
}

.ModalConflictProduct-aviso{
    display: flex;
    flex-direction: column;
}

.ModalConflictProduct span {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 0.5em;
}

.ModalConflictProduct-btnContainer{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.ModalConflictProduct-btnContainer button {
    flex: 1;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.1em;
    border-radius: 0.5em;
    cursor: pointer;
}

.ModalConflictProduct-btnContainer button:nth-child(1){
    background-color: var(--lightcyan);
}
.ModalConflictProduct-btnContainer button:nth-child(2){
    background-color: var(--darkblue);
}