.WelcomeAnimation-canvas{
    position: fixed;
    top: 0;
    left: 0;
}


.WelcomeAnimation{
    /* min-height: 900vh; */
}

.WelcomeFrame{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, 80%);
    width: 50vw;
    background-color: var(--white);
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

.WelcomeFrame:hover{
    background-color: #35af9f4d;
    transition: 0.5s;
}

.WelcomeFrame button{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: #002b63;
    font-size: 2em;
    font-weight: 800;
    cursor: pointer;
    padding: 0.5em;
    border-bottom: 2px solid #0000004b;
}

.WelcomeFrame button:hover{

    transition: 0.5s;
}

.WelcomeFrame h1{
    margin: 0;
}