
.RestaurantProfileMenu-manage-category{
    border-left: 2px solid #4da09c2b;
}

.RestaurantProfileMenu-manage-category header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RestaurantProfileMenu-manage-category header > button {
    display: none;
    width: 50%;
    height: 100%;
    background-color: var(--darkblue);
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.RestaurantProfileMenu-manage-category header > button:hover {
    background-color: var(--lightcyan);
    color: #000;
}

.RestaurantProfileMenu-manage-categoriesContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: start;
    max-height: 70vh;
    overflow: auto;
}

.RestaurantProfileMenu-manage-categoriesContainer-errorMsg{
    color: #aa3b3b;
    font-weight: 800;
    border-bottom: #b92f2f 2px solid;

}

.RestaurantProfileMenu-manage-categoriesContainer > div {
    color: #fff;
    font-size: 0.8em;
    width: 100%;
    background-color: #4d7272;
    padding: 0.5em 0.5em;
    border-radius: 1em;
    text-align: start;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RestaurantProfileMenu-manage-categoriesContainer > div > h3 {
    font-weight: 500;
}

.RestaurantProfileMenu-manage-categoriesContainer > div > div {
    display: flex;
    justify-content: space-between;
    gap: 0.2em;
}

.RestaurantProfileMenu-manage-categoriesContainer > div > div > button {
    border: none;
    background-color: rgb(104, 207, 211);
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
}

.RestaurantProfileMenu-manage-categoriesContainer input {
    background-color: #82e8f03b;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    width: 100%;
    height: 100%;
    border-radius: .5em;
    margin-right: .4em;
}

.RestaurantProfileMenu-manage-categoriesContainerAddBtn{
    width: 100%;
    background-color: rgb(106, 158, 155);
    color: #fff;
    border: none;
    padding: .7em 1em;
    border-radius: 1em;
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.3s;
    text-align: start;
    font-weight: 600;
}

.RestaurantProfileMenu-manage-categoriesContainer-addingCategory button{
    border: none;
    background-color: var(--lightcyan);
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;

}

.RestaurantProfileMenu-manage-categoriesContainer-loadingBtn{
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.RestaurantProfileMenu-manage-categoriesContainerAddBtn:hover{
    background-color: var(--darkcyan);
}


@media screen and (max-width: 480px) {
    .RestaurantProfileMenu-manage{
        display: flex;
        flex-direction: column;
    }
    
    .RestaurantProfileMenu-manage-category{
        border: none;
        border-bottom: 2px solid #0000002b;
    }
    
    .RestaurantProfileMenu-manage-category header > button{
        display: block;
    }
    
    .RestaurantProfileMenu-manage-categoriesContainer{
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s;
    }

    .RestaurantProfileMenu-manage-category-active{
        max-height: 25vh;
        overflow: auto;
        padding: 1em 0em;
        transition: 0.5s;
    }

    .RestaurantProfileMenu-manage-categoriesContainer > div > div {
        gap: 2em;
    }

    .RestaurantProfileMenu-manage-categoriesContainer > div > div > button {
        border: none;
        background-color: var(--lightcyan);
        width: 4em;
        padding: 0.5em;
        border-radius: 1em;
        cursor: pointer;
    }



}