.change-background-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/rippio.appspot.com/o/LoginPage%2Floginbackground.png?alt=media&token=0b0acb9f-2bd0-4f79-a7e4-f2d26842309d");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

