.loginpage{
    height: 100vh;
}

.loginpage-container{
    display: flex;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/rippio.appspot.com/o/LoginPage%2Floginbackground.png?alt=media&token=0b0acb9f-2bd0-4f79-a7e4-f2d26842309d");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
}

.loginpage-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 8em;
    padding: .5em;
    border: 6px solid #01CBC3;
    border-radius: 2em;
    height: 30em;
    width: 22em;
    min-width: 22em;
    box-shadow: 0 0 10px black;
}

.loginpage-form-h1{
    color: #01CBC3;
    font-size: 2.2em;
    text-align: center;
    margin-top: 1em;
    padding-top: 0.5em;
    text-shadow: 0 0 10px black;
}

.loginpage-form-input input{
    width: 90%;
    padding: 15px 5px;
    margin: 6% 4%;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    background-color: transparent;
}

.loginpage-form-input input::placeholder{
    color: rgba(255, 255, 255, 0.849);
    font-size: 1.2em;
}

.loginpage-form-input input:focus{
    outline: none;
}

.loginpage-form-checkbox{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1em;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.loginpage-form-checkbox input{
    margin: 20px 10px;
    padding: 0px;
    width: 20px;
    height: 20px;
    margin-left: 4%;
}

.loginpage-form button{
    width: 80%;
    padding: 15px 10px;
    margin: 20px 10%;
    margin-top: 30px;
    border-radius: 2em;
    border: none;
    background-color: #ffd518;
    color: rgb(2, 24, 22);
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 0 10px .5px rgba(255, 241, 116, 0.411);
}

.loginpage-form button:hover{
    cursor: pointer;
    background-color: #ffdc69;
    transition: .5s;
}

.loginpage-form-a{
    color: #01CBC3;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin: 0px 20%;
}

.loginpage-form-a:hover{
    text-decoration: underline;
}

.loginpage-welcometext{
    position: absolute;
    display: flex;
    flex-direction:column;
    width: 35em;
    align-items:end;
    margin-top: 4em;
    margin-left: 57%;
    padding-right: 4em;
    color:aliceblue;
}

.loginpage-welcometext h2{
    text-align: end;
    font-size: 3.2em;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: .5em;
    padding: 0;
    color: #01CBC3;
    text-shadow: 0 0 10px black;
}

.loginpage-welcometext-p{
    text-align: end;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-shadow: 0 0 10px black;
    font-weight: 500;
}

.loginpage-welcometext-a{
    color: #ffffff;
    margin-top: 1.5em;
    text-decoration: none;
    text-shadow: 0 0 10px rgb(0, 0, 0);

}

.loginpage-welcometext-a a{
    color: #01CBC3;
    margin-top: 1.5em;
    text-decoration: none;
    font-weight: 700;
}

.loginpage-welcometext-a span{
    color: #ffd518;
    margin-top: 1.5em;
    text-decoration: none;
    font-weight: 700;
}

.loginpage-welcometext-a a:hover{
    text-decoration: underline;
    color:#51ffff;
    transition: .5s;
}

.loginpage-sideline{
    position: absolute;
    align-items: end;
    width: .5%;
    height: 30%;
    margin: 4.2em 95%;
    padding: 0;
    border-radius: 1em;
    background-color: #ffd518;
    box-shadow: 0 0 15px .5px rgba(255, 241, 116, 0.589);
}

.loginpage-treeimage{
    position: absolute;
    padding: 0;
    margin-top: 17%;
    margin-left: 45%;
}

.loginpage-treeimage img{
    width: 50em;
    margin: 1.5em 0;
}


