.mainContent-headerPrincipalPage{
    color: #032B2A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    gap: 2%;
}

.headerPrincipalPage-nav{
    width: 100%;
    padding-left: 10px;
}

.headerPrincipalPage-a{
    text-decoration: none;
    color: var(--darkblue);
}

.headerPrincipalPage-ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 10%;
    width: 90%;
}

.active{
    border-bottom: 4px solid #00b7cf;
}
.headerPrincipalPage-ul-li{
    border-bottom: 4px solid transparent;
}

.headerPrincipalPage-ul-li:hover{
    border-bottom: 4px solid #032B2A;
    transition: border-bottom  1s;
}

.headerPrincipalPage-userSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.cartLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
}

.userlink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-right: 1.2em;
}

.logoIcon{
    width: 100%;
    margin-left: 1em;
    margin-top: .2em;
}


.cartIcon{
    width: 1.6em;
}

.userIcon{
    width: 1.7em;
}

.Header-Drawer{
    display: none;
}

@media screen and (max-width: 800px){
.headerPrincipalPage-nav{
    display: none;
}


.userText{
    display: none;

}

.drawerIcon{
    width: 30px;
}

.Header-Drawer{
    display: block;
}

.headerPrincipalPage-ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.headerPrincipalPage-ul-li{
    border-bottom: 4px solid transparent;
    text-align: center;
}

.logoIcon{
    width: 70%;
    margin-left: 1em;
}


.cartIcon{
    width: 3em;
}

.userIcon{
    width: 3em;
}

.headerDrawerBtnAccess{
    background-color: var(--darkcyan);
    color: #fff !important;
    font-weight: 600;
    border: none;
    margin: 1em;
    border-radius: 1em;
}

.headerNav-a{
    border-bottom: 2px solid var(--lightcyan);
}

}