.footer{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: relative;
    @media screen and (max-width: 1050px){
        font-size: 10px;
    }
}

.footer-information{
    display: flex;
    position: relative;
    background-color: #fff;
    z-index: 2;
    @media screen and (max-width: 650px){
        flex-direction: column;
    }
}

.footer-information-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2.5em;
    border-radius: 20px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    background-color: #fff;
    border-top: 2px solid #00000063;
    border-left: 2px solid #00000063;
    border-right: 2px solid #00000063;
    font-size: 1em;
    padding: 0.5em 3em;
    padding-bottom: 1.5em;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 1;
    @media screen and (max-width: 400px){
        width: 90%;
    }
}

.information-buttonArrow{
    width: 1em;
    margin-left: 0.5em;
}

.footer-information-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.information-title-container{
    width: 100%;
    border-bottom: 2px solid #01CBC3;
    display: flex;
    justify-content: center;
}

.footer-information-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin: 10px 0px;
    color: #000;
}

.content-item{
    font-size: 1.3em;
}

.footer-information-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.7em;
    max-height: 0;
    overflow: hidden;
}

.footer-information-content-active{
    max-height: 500px;
    transition: max-height 0.5s ease-in-out;
}
.footer-information-content-inactive{
    max-height: 0px;
    transition: max-height 0.5s ease-in-out;
}


.footer-basic{
    border-top: 2px solid #01CBC3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
    background-color: #fff;
}

.footer-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 800;
    color: #01CBC3;
}