.ModalCart-header{
    text-align: center;
    border-bottom: 2px solid #8bacab;
    padding-bottom: .8em;
}

.ModalCart-header h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #254d4c;
    letter-spacing: .1em;
}

.ModalCart-content-items{
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
    margin: 2em;
}

.ModalCart-content-item{
    border-bottom: 2px solid #8bacab;
    padding: 0.7em;
}

.ModalCart-content-item-actions{
    display: flex;
    gap: 1em;
}

.ModalCart-content-item-btn{
    background-color: #01CBC3;
    color: #fff;
    border: none;
    padding: 0.2em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    width: auto;
    font-size: 1em;
}

.ModalCart-content-item img{
    width: 10em;
}

/*Para el carrito cuando está vacío*/
.ModalCart-content-items img{
    width: 8em;
    margin-top: 1.5em;
}

.ModalCart-content-items h3{
    font-weight: 500;
    font-size: 1em;
    color: #254d4c;
    margin: 1em;
}

