.searchPage-restaurantInformationResult{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.restaurantInformation-item{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    border-bottom: 2px solid #0000005e;
    gap: 2em;
}

.restaurantInformation-item-header{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5em;
}

.restaurantInformation-item-header a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.restaurantInformation-item-header-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.5s;
}

.restaurantInformation-item-header-img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.restaurantInformation-item-calificacion{
    display: flex;
    gap: 0.4em;
    align-items: center;
    justify-content: center;
    background-color: #01CBC3;
    padding: 0.1em 0.5em;
    border-radius: 20px;
}

.item-calificacion-img{
    width: 1.2em;
}
.item-calificacion-text{
    font-size: 1em;
    line-height: 0em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* PRODUCTS */

.restaurantInformation-item-products{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.restaurantInformation-item-products-product{
    display: flex;
    flex-direction: column;
    width: 8em;
    position: relative;
    align-items: center;
    transition: transform 0.5s;
}

.restaurantInformation-item-products-product:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.restaurantInformation-item-products-product-button{
    position: absolute;
    top: -5%;
    right: -5%;
    background-color: #01CBC3;
    padding: 4% 4%;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #003b39;
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurantInformation-item-products-product-button:hover{
    background-color: #007571 !important;
    transition: 0.5s;
}

.restaurantInformation-item-products-product-button-img{
    width: 100%;
}

.restaurantInformation-item-products-product-buttonContainer{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.restaurantInformation-item-products-product-img{
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 1em;
    cursor: pointer;
    border: 2px solid #003b39;
}

.restaurantInformation-item-products-product-img:hover{
    border: 2px solid #01CBC3;
    transition: 0.5s;

}

.restaurantInformation-item-products-product-buttonContainer > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    color: #000;
}

.restaurantInformation-item-products-product-buttonContainer span {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.restaurantInformation-item-products-product-buttonContainer p {
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: start;
}