@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --sprint: none; */
  --lightcyan: #12bb96;
  --darkcyan: #11928D;
  --darkblue: #032B2A;
  --white: #E0E3E4;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.block-input {
  color: #000000b4;
  cursor: not-allowed;
  user-select: none;
}

.hidden-label {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.Modal{
  position: absolute;
  background-color: #fff;
  min-width: 50vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 1em;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.418);
}

.ReactModal__Overlay{
  background-color: #020808b4 !important;
  z-index: 2;
}


body {
  overflow-x: hidden;

  font-size: 18px;
  @media screen and (max-width: 1276px){
    font-size: 15px;
}
  @media screen and (max-width: 1200px){
      font-size: 14px;
  }
  @media screen and (max-width: 1005px){
      font-size: 13px;
  }
  @media screen and (max-width: 901px){
      font-size: 12px;
      .Modal{
          width: 95vw;
      }
  }
  @media screen and (max-width: 760px){
      font-size: 11px;
  }
}