
.ProfileOptions-linksContainer li {
    list-style: none;
    width: 100%;
    padding: 1.5em 1em;
    border-bottom: 1.5px solid #04787c50;
    
}

.ProfileOptions-linksContainer a img{
    width: 1.5em;
    height: 1.5em;
    
}

.ProfileOptions-linksContainer a{
    color: #273131;
}

.ProfileOption-activeLink{
    font-weight: 700;
}

.ProfileOptions-linksContainer a:not(.ProfileOption-activeLink) {
    font-weight: 500;
}

.ProfileOption-Link, .ProfileOption-activeLink{
    display: flex;
    gap: 1em;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}