.ModalConflictProduct{
    position: absolute;
    background-color: #fff;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0.5em;
    font-size: 1em;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;
}

.ReactModal__Overlay{
    background-color: #032b2ab4 !important;
    z-index: 2;
}

.ModalConflictProduct-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-bottom: 2px solid #00000076;
    padding: 0.5em;
}

.ModalConflictProduct-header img{
    width: 3em;
}

.ModalConflictProduct-aviso{
    display: flex;
    flex-direction: column;
}

.ModalConflictProduct span {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 0.5em;
}

.ModalConflictProduct-btnContainer{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.ModalConflictProduct-btnContainer button {
    flex: 1;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.1em;
    border-radius: 0.5em;
    cursor: pointer;
}

.ModalConflictProduct-btnContainer button:nth-child(1){
    background-color: #12bb96;
}
.ModalConflictProduct-btnContainer button:nth-child(2){
    background-color: #032B2A;
}