.ProfileOrders{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.ProfileOrders-header{
    display: flex;
    flex-direction: column;
}

.ProfileOrders-header h1{
    font-size: 2em;
}

.ProfileOrders-ordersContainer{
    border-top: 2px solid #00000021;
    padding: 0em 1em;
    padding-right: 5em;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 50vh;
    overflow-y: auto;
    @media screen and (max-width: 400px){
        width: 100%;
        padding-right: 1em;
    }
}

.ProfileOrders-orderItem{
    display: flex;
    flex-direction: column;
}

.ProfileOrders-orderItem-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ProfileOrders-orderItem-header-div{
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 20em;
    font-weight: 600;
}

.ProfileOrders-orderItem-header h2{
    color: #11928D;
    font-size: 1.2em;
    width: 10em;
}

.ProfileOrders-orderItem-body{
    border-left: 3px solid #0000003a;
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.ProfileOrders-orderItem-body-li {
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: left;
    color: #000000d0;
    font-weight: 600;
}

.ProfileOrders-orderItem-body-li-p{
    color: #000000a1;
    font-weight: 800;
    font-size: 1em;
}

.ProfileOrders-orderItem-body-li-p:nth-child(1){
    width: 10em;
}

.ProfileOrders-orderItem-body-p{
    color: #11928D;
    font-weight: bold;
    font-size: 1.1em;
}

.ProfileOrders-orderItem-body-observations{
    color: #000000a1;
    font-size: 0.8em;
    font-weight: 800;
}

.ProfileOrders-orderItem-body-observations span{
    color: #000000a1;
    font-weight: 500;
}

.ProfileOrders-orderItem-body-p span{
    color: #000000d0;
    font-weight: 600;
}