.ProfileCredits-h1{
    margin: 0;
    font-size: 1em;
}

.ProfileCredits-blackSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(109, 109, 109) 100%);
    border-radius: 1em;
    color: white;
    padding: 1.5em 1em;
}

.ProfileCredits-blackSection span {
    font-size: 3em;
    font-weight: 600;
}

.ProfileCredits-questionSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding: 1em;
    @media screen and (max-width: 645px){
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }
}

.ProfileCredits-questionSection-gridItem:nth-child(1){
    font-size: 1.5em;
    grid-column: 1/3;
    @media screen and (max-width: 645px){
        grid-column: 1/1;
    }
}

.ProfileCredits-questionSection a{
    text-decoration: none;
    color: #000000b4;
    font-weight: 600;
    font-size: 1.2em;
    text-align: start;
}
