.ProfileSettings{
    padding: 1em;
}

.ProfileSettings-GridForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}

.ProfileSettings-GridForm div {
    display: flex;
    flex-direction: column;
}

.ProfileSettings-h1{
    font-size: 1.7em;
    color: #1b4948;
    margin-top: .5em;
    padding-left: .5em;

}

.ProfileSettings-GridForm div > label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    color: #053b3d77;
}

.ProfileSettingsInput {
    color: #0c4b45;
    font-weight: 600;
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid #428180;
    outline: none;
    width: 90%;
    background-color: transparent;
}

.ProfileSettingsInput:hover {
    border-bottom: 2px solid #00adab;
    transition: 0.5s;
}

.ProfileSettings-GridForm-btnContainer{
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
}

.ProfileSettings-GridForm-btnContainer button {
    padding: 0.5em 1em;
    width: 100%;
    margin: 1em;
    border: none;
    border-radius: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #42beba;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.ProfileSettings-GridForm-btnContainer button:hover {
    background-color: #00adab;
    transition: 0.5s;
}

@media screen and (max-width: 760px){
    .ProfileSettings-GridForm{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto)
    }
    .ProfileSettings-GridForm-btnContainer{
        grid-column: 1/1;
    }
}