.thirdSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.mostSearched{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.mostSearched-content-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.23em;
}

.mostSearched-item {
    background-color: #3d696371;
    border-radius: 1em;
    padding: 0.2em 0.8em;
}

.problemReport{
    display: flex;
    background-color: #FFC625;
    padding: 5px;
    border-radius: 20px;
    width: 26em;
    align-items: center;
    gap: 15px;
}

.problemReport img{
    object-fit: contain;
    width: 4em;
    margin: 0 .7em;
}

.problemReport-info h2{
    font-size: 1em;
}

.problemReport-info p{
    font-size: 0.8em;
}